.main_search {
  &__form {
    &__container {
      display: flex;

      &__part {
        width: 50%;

        &__input {
          display: block;
          width: 100%;

          & p {
            margin-bottom: 0.3rem;
          }

          &__side_btn {
            margin-left: 0.3rem;
          }
        }
      }
    }
  }
}
