<nb-card>
  <nb-card-header>
    <h1>Look for a trip</h1>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (submit)="onSubmit()" class="main_search__form">
      <div class="main_search__form__container">
        <div class="main_search__form__container__part">
          <div class="main_search__form__container__part__input">
            <p>Origin</p>
            <app-address-input
              appInputWithCoords
              formControlName="origin"
              data-testId="origin-input"
            ></app-address-input>
            <button
              nbButton
              status="info"
              class="main_search__form__container__part__input__side_btn"
              size="small"
            >
              <nb-icon icon="navigation-2-outline"></nb-icon>
            </button>
          </div>
          <div class="main_search__form__container__part__input">
            <p>Destination</p>
            <app-address-input
              appInputWithCoords
              formControlName="destination"
              data-testId="dest-input"
            ></app-address-input>
          </div>
          <div class="main_search__form__container__part__input">
            <p>Range (km)</p>
            <input
              nbInput
              formControlName="range"
              type="number"
              data-testId="range-input"
            />
          </div>
        </div>
        <div class="main_search__form__container__part">
          <nb-calendar-range
            [min]="today"
            (rangeChange)="onDatesChange($event)"
          ></nb-calendar-range>
        </div>
      </div>
      <button
        nbButton
        data-testId="submit-btn"
        type="submit"
        [disabled]="!form.valid"
      >
        Search
      </button>
    </form>
  </nb-card-body>
</nb-card>
